UOF_LIB/PochenPOC/Web References/File/FileCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AllocFileSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileTarget" type="tns:FileTarget" />
            <s:element minOccurs="1" maxOccurs="1" name="fileLength" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="FileTarget">
        <s:restriction base="s:string">
          <s:enumeration value="Album" />
          <s:enumeration value="Briefcase" />
          <s:enumeration value="Bulletin" />
          <s:enumeration value="DMS_SOURCE" />
          <s:enumeration value="EIP" />
          <s:enumeration value="Forum" />
          <s:enumeration value="OMS" />
          <s:enumeration value="Personal" />
          <s:enumeration value="PMS" />
          <s:enumeration value="PrivateMessage" />
          <s:enumeration value="QUE" />
          <s:enumeration value="WKF" />
          <s:enumeration value="UChat" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AllocFileSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllocFileSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommitFileGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileGroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommitFileGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="WriteFileSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileTarget" type="tns:FileTarget" />
            <s:element minOccurs="0" maxOccurs="1" name="fileSessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteFileSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConvertFileSessionToFileGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileTarget" type="tns:FileTarget" />
            <s:element minOccurs="0" maxOccurs="1" name="fileSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileGroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFileSessionToFileGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertFileSessionToFileGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFileSessionToFileGroup2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileTarget" type="tns:FileTarget" />
            <s:element minOccurs="0" maxOccurs="1" name="fileSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileGroupId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isAnonymous" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFileSessionToFileGroup2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertFileSessionToFileGroup2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFileSessionToFileGroup3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileTarget" type="tns:FileTarget" />
            <s:element minOccurs="0" maxOccurs="1" name="fileSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileGroupId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isAnonymous" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isHidden" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isCorrectImageOrientain" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFileSessionToFileGroup3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertFileSessionToFileGroup3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFileSessionToFileGroup4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileTarget" type="tns:FileTarget" />
            <s:element minOccurs="0" maxOccurs="1" name="subModulePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileGroupId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isAnonymous" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isHidden" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isCorrectImageOrientain" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFileSessionToFileGroup4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertFileSessionToFileGroup4Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearFileSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileTarget" type="tns:FileTarget" />
            <s:element minOccurs="0" maxOccurs="1" name="fileSessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearFileSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AllocFileSessionSoapIn">
    <wsdl:part name="parameters" element="tns:AllocFileSession" />
  </wsdl:message>
  <wsdl:message name="AllocFileSessionSoapOut">
    <wsdl:part name="parameters" element="tns:AllocFileSessionResponse" />
  </wsdl:message>
  <wsdl:message name="CommitFileGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CommitFileGroup" />
  </wsdl:message>
  <wsdl:message name="CommitFileGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CommitFileGroupResponse" />
  </wsdl:message>
  <wsdl:message name="WriteFileSessionSoapIn">
    <wsdl:part name="parameters" element="tns:WriteFileSession" />
  </wsdl:message>
  <wsdl:message name="WriteFileSessionSoapOut">
    <wsdl:part name="parameters" element="tns:WriteFileSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroupSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertFileSessionToFileGroup" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroupSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertFileSessionToFileGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup2SoapIn">
    <wsdl:part name="parameters" element="tns:ConvertFileSessionToFileGroup2" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup2SoapOut">
    <wsdl:part name="parameters" element="tns:ConvertFileSessionToFileGroup2Response" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup3SoapIn">
    <wsdl:part name="parameters" element="tns:ConvertFileSessionToFileGroup3" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup3SoapOut">
    <wsdl:part name="parameters" element="tns:ConvertFileSessionToFileGroup3Response" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup4SoapIn">
    <wsdl:part name="parameters" element="tns:ConvertFileSessionToFileGroup4" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup4SoapOut">
    <wsdl:part name="parameters" element="tns:ConvertFileSessionToFileGroup4Response" />
  </wsdl:message>
  <wsdl:message name="ClearFileSessionSoapIn">
    <wsdl:part name="parameters" element="tns:ClearFileSession" />
  </wsdl:message>
  <wsdl:message name="ClearFileSessionSoapOut">
    <wsdl:part name="parameters" element="tns:ClearFileSessionResponse" />
  </wsdl:message>
  <wsdl:message name="AllocFileSessionHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileLength" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AllocFileSessionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CommitFileGroupHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CommitFileGroupHttpGetOut" />
  <wsdl:message name="WriteFileSessionHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="offset" type="s:string" />
    <wsdl:part name="buffer" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="WriteFileSessionHttpGetOut" />
  <wsdl:message name="ConvertFileSessionToFileGroupHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup2HttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
    <wsdl:part name="isAnonymous" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup2HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup3HttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
    <wsdl:part name="isAnonymous" type="s:string" />
    <wsdl:part name="contentType" type="s:string" />
    <wsdl:part name="isHidden" type="s:string" />
    <wsdl:part name="isCorrectImageOrientain" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup3HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup4HttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="subModulePath" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
    <wsdl:part name="isAnonymous" type="s:string" />
    <wsdl:part name="contentType" type="s:string" />
    <wsdl:part name="isHidden" type="s:string" />
    <wsdl:part name="isCorrectImageOrientain" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup4HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ClearFileSessionHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClearFileSessionHttpGetOut" />
  <wsdl:message name="AllocFileSessionHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileLength" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AllocFileSessionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CommitFileGroupHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CommitFileGroupHttpPostOut" />
  <wsdl:message name="WriteFileSessionHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="offset" type="s:string" />
    <wsdl:part name="buffer" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="WriteFileSessionHttpPostOut" />
  <wsdl:message name="ConvertFileSessionToFileGroupHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroupHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup2HttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
    <wsdl:part name="isAnonymous" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup2HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup3HttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
    <wsdl:part name="isAnonymous" type="s:string" />
    <wsdl:part name="contentType" type="s:string" />
    <wsdl:part name="isHidden" type="s:string" />
    <wsdl:part name="isCorrectImageOrientain" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup3HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup4HttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="subModulePath" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileGroupId" type="s:string" />
    <wsdl:part name="isAnonymous" type="s:string" />
    <wsdl:part name="contentType" type="s:string" />
    <wsdl:part name="isHidden" type="s:string" />
    <wsdl:part name="isCorrectImageOrientain" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertFileSessionToFileGroup4HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ClearFileSessionHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fileTarget" type="s:string" />
    <wsdl:part name="fileSessionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClearFileSessionHttpPostOut" />
  <wsdl:portType name="FileCenterSoap">
    <wsdl:operation name="AllocFileSession">
      <wsdl:input message="tns:AllocFileSessionSoapIn" />
      <wsdl:output message="tns:AllocFileSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommitFileGroup">
      <wsdl:input message="tns:CommitFileGroupSoapIn" />
      <wsdl:output message="tns:CommitFileGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteFileSession">
      <wsdl:input message="tns:WriteFileSessionSoapIn" />
      <wsdl:output message="tns:WriteFileSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup">
      <wsdl:input message="tns:ConvertFileSessionToFileGroupSoapIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup2">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup2SoapIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup3">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup3SoapIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup4">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup4SoapIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearFileSession">
      <wsdl:input message="tns:ClearFileSessionSoapIn" />
      <wsdl:output message="tns:ClearFileSessionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FileCenterHttpGet">
    <wsdl:operation name="AllocFileSession">
      <wsdl:input message="tns:AllocFileSessionHttpGetIn" />
      <wsdl:output message="tns:AllocFileSessionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CommitFileGroup">
      <wsdl:input message="tns:CommitFileGroupHttpGetIn" />
      <wsdl:output message="tns:CommitFileGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteFileSession">
      <wsdl:input message="tns:WriteFileSessionHttpGetIn" />
      <wsdl:output message="tns:WriteFileSessionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup">
      <wsdl:input message="tns:ConvertFileSessionToFileGroupHttpGetIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup2">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup2HttpGetIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup3">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup3HttpGetIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup3HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup4">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup4HttpGetIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup4HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearFileSession">
      <wsdl:input message="tns:ClearFileSessionHttpGetIn" />
      <wsdl:output message="tns:ClearFileSessionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FileCenterHttpPost">
    <wsdl:operation name="AllocFileSession">
      <wsdl:input message="tns:AllocFileSessionHttpPostIn" />
      <wsdl:output message="tns:AllocFileSessionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CommitFileGroup">
      <wsdl:input message="tns:CommitFileGroupHttpPostIn" />
      <wsdl:output message="tns:CommitFileGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteFileSession">
      <wsdl:input message="tns:WriteFileSessionHttpPostIn" />
      <wsdl:output message="tns:WriteFileSessionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup">
      <wsdl:input message="tns:ConvertFileSessionToFileGroupHttpPostIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup2">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup2HttpPostIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup3">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup3HttpPostIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup3HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup4">
      <wsdl:input message="tns:ConvertFileSessionToFileGroup4HttpPostIn" />
      <wsdl:output message="tns:ConvertFileSessionToFileGroup4HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearFileSession">
      <wsdl:input message="tns:ClearFileSessionHttpPostIn" />
      <wsdl:output message="tns:ClearFileSessionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileCenterSoap" type="tns:FileCenterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllocFileSession">
      <soap:operation soapAction="http://tempuri.org/AllocFileSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitFileGroup">
      <soap:operation soapAction="http://tempuri.org/CommitFileGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteFileSession">
      <soap:operation soapAction="http://tempuri.org/WriteFileSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup">
      <soap:operation soapAction="http://tempuri.org/ConvertFileSessionToFileGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup2">
      <soap:operation soapAction="http://tempuri.org/ConvertFileSessionToFileGroup2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup3">
      <soap:operation soapAction="http://tempuri.org/ConvertFileSessionToFileGroup3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup4">
      <soap:operation soapAction="http://tempuri.org/ConvertFileSessionToFileGroup4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearFileSession">
      <soap:operation soapAction="http://tempuri.org/ClearFileSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileCenterSoap12" type="tns:FileCenterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllocFileSession">
      <soap12:operation soapAction="http://tempuri.org/AllocFileSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitFileGroup">
      <soap12:operation soapAction="http://tempuri.org/CommitFileGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteFileSession">
      <soap12:operation soapAction="http://tempuri.org/WriteFileSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup">
      <soap12:operation soapAction="http://tempuri.org/ConvertFileSessionToFileGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup2">
      <soap12:operation soapAction="http://tempuri.org/ConvertFileSessionToFileGroup2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup3">
      <soap12:operation soapAction="http://tempuri.org/ConvertFileSessionToFileGroup3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup4">
      <soap12:operation soapAction="http://tempuri.org/ConvertFileSessionToFileGroup4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearFileSession">
      <soap12:operation soapAction="http://tempuri.org/ClearFileSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileCenterHttpGet" type="tns:FileCenterHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AllocFileSession">
      <http:operation location="/AllocFileSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitFileGroup">
      <http:operation location="/CommitFileGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="WriteFileSession">
      <http:operation location="/WriteFileSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup">
      <http:operation location="/ConvertFileSessionToFileGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup2">
      <http:operation location="/ConvertFileSessionToFileGroup2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup3">
      <http:operation location="/ConvertFileSessionToFileGroup3" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup4">
      <http:operation location="/ConvertFileSessionToFileGroup4" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearFileSession">
      <http:operation location="/ClearFileSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileCenterHttpPost" type="tns:FileCenterHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AllocFileSession">
      <http:operation location="/AllocFileSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitFileGroup">
      <http:operation location="/CommitFileGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="WriteFileSession">
      <http:operation location="/WriteFileSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup">
      <http:operation location="/ConvertFileSessionToFileGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup2">
      <http:operation location="/ConvertFileSessionToFileGroup2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup3">
      <http:operation location="/ConvertFileSessionToFileGroup3" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFileSessionToFileGroup4">
      <http:operation location="/ConvertFileSessionToFileGroup4" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearFileSession">
      <http:operation location="/ClearFileSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileCenter">
    <wsdl:port name="FileCenterSoap" binding="tns:FileCenterSoap">
      <soap:address location="http://localhost/UOF_NANPAO_TRAINING/PublicAPI/Utility/FileCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="FileCenterSoap12" binding="tns:FileCenterSoap12">
      <soap12:address location="http://localhost/UOF_NANPAO_TRAINING/PublicAPI/Utility/FileCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="FileCenterHttpGet" binding="tns:FileCenterHttpGet">
      <http:address location="http://localhost/UOF_NANPAO_TRAINING/PublicAPI/Utility/FileCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="FileCenterHttpPost" binding="tns:FileCenterHttpPost">
      <http:address location="http://localhost/UOF_NANPAO_TRAINING/PublicAPI/Utility/FileCenter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>